@use '../colors';

.field {
  margin: 0.25em 0;
  max-width: 100%;

  &__error {
    min-height: 1.2em;
    line-height: 1.2;
    color: colors.$attention;
  }

  &__required-asterisk {
    color: colors.$attention;
  }

  &__input {
    background-color: colors.$secondary;
    color: colors.$primary;
    font-size: 1em;
    font-weight: bold;
    width: 25em;
    margin: 0.25em 0;
    padding: 1em;
    max-width: 100%;
    border-radius: 1em;
    border: solid 0.25em transparent;
    outline: none;
    transition: background-color 0.5s ease-out;

    &:focus, &:hover{
      border-color: colors.$active;
      background-color: colors.$secondary;
    }
    
    &--invalid {
      background-color: colors.$attention;
    }
  }
}
